* {
  margin: 0;
  padding: 0;
}

.header {
  text-align: center;
}

.menu {
  display: inline-block;
  background-color: #b3636b;
  font-family: "Playfair Display", serif;
  font-size: 0;
}

.menu-item {
  display: inline-block;
  border-right: 1px solid #ffffff;
}

.menu-item-link {
  text-decoration: none;
  display: block;
  color: #ffffff;
  padding: 20px;
  background-color: #af5860;
  font-size: 14px;
}

.menu-item-link:hover {
  background-color: #722129;
}

.menu-item:first-of-type {
  border-left: 1px solid #ffffff;
}