* {
  margin: 0;
  padding: 0;
}

.header {
  text-align: center;
  font-size: 0;
}

.menu {
  display: inline-block;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.menu-item {
  float: left;
  list-style: none;
  border-right: 1px solid #ffffff;
}

.menu-item:first-of-type{
  border-left: 1px solid #ffffff;
}

.menu-item-link {
  display: block;
  text-decoration: none;
  color: #ffffff;
  background-color: #af5860;
  font-size: 14px;
  padding: 20px 20px;
}

.menu-item-link:hover {
  background-color: #722129;
}
