* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

.wrap {
  background: url("../img/Background.jpg") no-repeat center;
  background-size: cover;
}

.header {
  padding-top: 2rem;
  padding-bottom: 2.8rem;
}

.header-nav {
  text-align: center;
  margin-bottom: 11.5rem;
}

.header-nav-link {
  display: block;
  text-decoration: none;
  font-family: "Montserrat";
  font-size: 14px;
  color: #ffffff;
  line-height: 1.2;
  padding: 0.8rem 1.5rem;
  border: 2px solid transparent;
  border-radius: 20px;
}

.header-nav-link:hover {
  border: 2px solid #ffffff;
}

.header-main {
  text-align: center;
}

.header-main-link {
  text-decoration: none;
  font-family: "Montserrat";
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.2;
  color: #ffffff;
  display: block;
  letter-spacing: 0.05rem;
}

.find-partner {
  padding-bottom: 13.8rem;
}

.find-partner-header {
  text-decoration: none;
  font-family: "Montserrat";
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  line-height: 1.2;
  letter-spacing: -0.1rem;
  text-align: center;
  margin-bottom: 1rem;
  /* margin-left: -10px;
  margin-right: -10px; */
}

.find-partner-text {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 18px;
  color: #ffffff;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 1.5rem;
}

.find-partner-link {
  display: block;
  text-align: center;
  margin: 0 auto;
  background-color: #ff4e50;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  border-radius: 20px;
  height: 40px;
  line-height: 40px;
}

.partners {
  padding-top: 6.6rem;
  padding-bottom: 5.8rem;
}

.partners-header {
  text-align: center;
  font-family: "Montserrat";
  font-size: 22px;
  font-weight: bold;
  color: #333333;
  line-height: 1.2;
  margin-bottom: 1.5rem;
}

.partners-list {
  list-style: none;
  text-align: center;
}

.partners-list-item {
  margin-bottom: 2.5rem;
}

.partners-list > [class*='row'] > [class*='col-']:nth-of-type(1) .partners-list-item 
.partners-list-item-link::after {
  content: "";
  background: url("../img/Icon-Tele-M.png") no-repeat;
  background-position: 7px 7px;
  position: absolute;
  bottom: -4px;
  right: -4px;
  width: 40px;
  height: 40px;
  background-color: #ff4e50;
  border: 4px solid #ffffff;
  border-radius: 50%;
}

.partners-list > [class*='row'] > [class*='col-']:nth-of-type(2) .partners-list-item 
.partners-list-item-link::after {
  content: "";
  background: url("../img/Icon-Flask-M.png") no-repeat;
  background-position: 10px 8px;
  position: absolute;
  bottom: -4px;
  right: -4px;
  width: 40px;
  height: 40px;
  background-color: #ffa507;
  border: 4px solid #ffffff;
  border-radius: 50%;
}

.partners-list > [class*='row'] > [class*='col-']:nth-of-type(3) .partners-list-item 
.partners-list-item-link::after {
  content: "";
  background: url("../img/Icon-Cup-M.png") no-repeat;
  background-position: 7px 7px;
  position: absolute;
  bottom: -4px;
  right: -4px;
  width: 40px;
  height: 40px;
  background-color: #1cd7ad;
  border: 4px solid #ffffff;
  border-radius: 50%;
}

.partners-list > [class*='row'] > [class*='col-']:nth-of-type(4) .partners-list-item 
.partners-list-item-link::after {
  content: "";
  background: url("../img/Icon-Paper-Airplane-M.png") no-repeat;
  background-position: 7px 8px;
  position: absolute;
  bottom: -4px;
  right: -4px;
  width: 40px;
  height: 40px;
  background-color: #4e73db;
  border: 4px solid #ffffff;
  border-radius: 50%;
}

.partners-list-item-image {
  display: block;
  margin: 0 auto;
}

.partners-list-item-link {
  position: relative;
  display: inline-block;
  margin-bottom: 1.5rem;
}

.partners-list-item-name {
  text-align: center;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: bold;
  color: #333333;
  margin-bottom: 0.9rem;
  letter-spacing: 0;
}

.partners-list-item-text {
  text-align: center;
  font-family: "Roboto";
  font-size: 14px;
  font-weight: 300;
  color: #666666;
  line-height: 1.2;
}

.partners-button {
  display: block;
  text-align: center;
  cursor: pointer;
  outline: 0;
  border: 2px solid #ff4e50;
  color: #ff4e50;
  font-family: "Montserrat";
  font-size: 14px;
  font-weight: bold;
  background-color: #ffffff;
  border-radius: 20px;
  height: 40px;
  width: 100%;
}

@media (min-width: 768px) {
  .header {
    padding-top: 4rem;
    margin-bottom: 11.2rem;
  }

  .header-nav {
    margin: 0;
  }

  .find-partner {
    padding-bottom: 23.4rem;
  }

  .find-partner-header {
    font-size: 52px;
    margin-bottom: 2.4rem;
  }

  .find-partner-text {
    font-size: 24px;
    margin-bottom: 3.4rem;
  }

  .find-partner-link {
    height: 40px;
    line-height: 40px;
  }

  .partners {
    padding-top: 6.9rem;
    padding-bottom: 4rem;
  }

  .partners-header {
    margin-bottom: 3rem;
  }

  .partners-list {
    padding: 0 5rem;
    padding-bottom: 4rem;
  }

  .partners-list-item {
    margin-bottom: 6rem;
  }

  .partners-list > [class*='row'] > [class*='col-']:nth-last-of-type(-n + 2) .partners-list-item {
    margin-bottom: 0;
  }

  .partners-list-item-name {
    margin-bottom: 1.4rem;
  }

  .partners-list-item-text {
    line-height: 1.2;
  }
}

@media (min-width: 1440px) {

  .header-main {
    text-align: left;
  }

  .header-main-link {
    margin
  }

  .partners-list {
    padding: 0;
    padding-bottom: 1rem;
  }

}
