* {
  margin: 0;
  padding: 0;
}

.header {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.main-header__link--no-effects,
.main-nav__link--no-effects {
  text-decoration: none;
}
