* {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  padding-top: 73px;
  padding-bottom: 20px;
}

.page-header {
  display: none;
}

.header {
  text-align: center;
}

.menu {
  display: inline-block;
  width: 900px;
}

.menu-item {
  display: inline-block;
  padding: 0 51px;
  text-decoration: none;
  font-family: "Playfair Display", serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #626262;
}

.menu-item:hover {
  text-decoration: underline;
}

.main-content {
  margin-top: 100px;
  text-align: center;
  padding: 0 150px;
}

.post {
  width: 900px;
  margin-bottom: 37px;
}

.post-list {
  text-align: left;
}

.post-list-item {
  font-family: "Playfair Display", serif;
  display: inline-block;
  height: 495px;
  width: 420px;
  vertical-align: top;
  border: 0px solid black;
}

.post-list-item:nth-of-type(2n) {
  padding-left: 56px;
  padding-bottom: 114px;
}

.post-list-item:nth-last-of-type(1) {
  padding-bottom: 0px;
}

.post-list-item-image {
  margin-bottom: 25px;
}

.post-list-item-category {
  text-transform: uppercase;
  font-size: 14px;
  margin-bottom: 17px;
  color: #b4ad9e;
  font-family: "Ubuntu", sans-serif;
}

.post-list-item-header {
  font-size: 30px;
  margin-bottom: 27px;
  color: #626262;
}

.post-list-item-text {
  font-size: 14px;
  line-height: 24px;
  color: #626262;
}

.load-more-button {
  display: inline-block;
  font-family: "Playfair Display", serif;
  padding: 15px 33px;
  font-size: 20px;
  color: #626262;
  box-shadow: none;
  border: 1px solid #626262;
  border-radius: 0;
  background-color: transparent;
}

.load-more-button:focus {
  outline: none;
}

.load-more-button:hover {
  background-color: #b4ad9e;
}

.load-more-button:active {
  background-color: #df9595;
}
