$main-text-color: #999999;
$main-header-color: #333333;
$primary-white-color: #ffffff;
$preheader-font: "Kaushan Script", serif;
$header-font: "Montserrat", sans-serif;
$primary-font: "Roboto", sans-serif;
$sections-header-underline: 3px solid #f38181;
$primary-lightcoral-color: #f38181;
$link-hover-main-color: #fce38a;
$portrait-gradient: 0deg, rgba(252, 227, 138, 0.9), rgba(243, 129, 129, 0.9);
$form-placeholder-color: #cccccc;
$primary-lightblue-color:#95e1d3;
