* {
  margin: 0;
  padding: 0;
}

.feature,
.grid-item {
  height: 100px;
}

.feature {
  background-color: #fbf188;
}

.grid-item {
  background-color: #f7d6a1;
}

[class*="col-"]:nth-of-type(2) > .feature {
  background-color: #b9e88b;
}

[class*="col-"]:nth-of-type(2) > .grid-item {
  background-color: #f79fab;
}

@media (min-width: 768px) {
  .feature {
    height: 200px;
  }
}
